In [2]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets 
import pandas as pd
import time
import requests
from census import Census
#pd.set_option('display.max_rows', 30000)
# Census API Key
from config import census_key
c = Census(census_key, year=2015)

## Retrieve Crime Data from FBI Crime Database - UCR

In [4]:
#Store file path for crime data in a variable
crime_data = "../Crime Source Data/Offenses_Known_to_Law_Enforcement_by_State_by_City_2015.xls"

#Read data into dataframe
crime_data_df=pd.read_excel(crime_data)

#Extract the state into a list so all rows in "state" column can have a state value
state = crime_data_df["State"]
states=[]
for s in state:
    if pd.isnull(s):
        states.append(current_state)
    else:
        current_state = s
        states.append(current_state)
        
#Add newly created list into the dataframe and remove the old column
crime_data_df["NEW_STATE"] = states
clean_crime_data_df=crime_data_df[["NEW_STATE", "City", "Population", "Violent Crime"]] 
clean_crime_data_df=clean_crime_data_df.rename(columns={"NEW_STATE":"State"})

#Remove any trailing numbers at the end of state and city names
clean_crime_data_df["State"] = clean_crime_data_df["State"].map(lambda x: x.rstrip("1234567890"))
clean_crime_data_df["City"] = clean_crime_data_df["City"].map(lambda x: x.rstrip("1234567890"))

#Calculate the rate of violent crime per capita and remove any city where the violent crime is 0
clean_crime_data_df = clean_crime_data_df.loc[clean_crime_data_df["Violent Crime"]>0]
clean_crime_data_df["Violent Crime Rate"] = (clean_crime_data_df["Violent Crime"]/clean_crime_data_df["Population"])*100

clean_crime_data_df=clean_crime_data_df.sort_values("State")
clean_crime_data_df = clean_crime_data_df.loc[clean_crime_data_df["Violent Crime"]>0]

## Sort Out the Highest and Lowest Crime Rate for Each State

In [6]:
#Sort out the highest crime rate for each state
#variable to hold highest violent crime for each state
violent_crime=[]

#variable to track highest violent crime for each state
violent_crime_track=0

#variable to hold starting state for the loop
current_state='ALABAMA'

#variable to append city for highest crime rate
city=[]

#variable to append city for highest crime rate
state=[]

#Loop through each row in dataframe 
for index,row in clean_crime_data_df.iterrows():
    if row['State'] == current_state:
        if row["Violent Crime Rate"]> violent_crime_track:
            highest = row["Violent Crime Rate"] 
            cur_city = row["City"]
            cur_state = row["State"]
            violent_crime_track = highest
               
    else:
        violent_crime.append(highest)
        highest = row["Violent Crime Rate"]
        violent_crime_track = highest
        current_state=row['State']
        city.append(cur_city)
        state.append(cur_state)
        cur_city = row["City"]
        cur_state = row["State"]
#append the data for the last state
violent_crime.append(highest)
city.append(cur_city)
state.append(cur_state)

#Place newly created lists into dictionary and convert to DataFrame
highest_new_dict = {'State':state,'City':city,'Violent Crime Rate':violent_crime}
highest_new_df = pd.DataFrame(highest_new_dict)
highest_new_df.to_csv("../Analysis/highest_crime.csv", index=False)

,State,City,Violent Crime Rate
0,ALABAMA,Anniston,2.721241
1,ALASKA,Kotzebue,2.633172
2,ARIZONA,Willcox,2.325581
3,ARKANSAS,Osceola,2.063140
4,CALIFORNIA,Industry,33.009709
5,COLORADO,Lakeside,12.500000
6,CONNECTICUT,Hartford,1.140880
7,DELAWARE,Dewey Beach,4.054054
8,DISTRICT OF COLUMBIA,Washington,1.202568
9,FLORIDA,Florida City,3.155577
10,GEORGIA,College Park,2.589655
11,HAWAII,Honolulu,0.243869
12,IDAHO,Kamiah,0.539291
13,ILLINOIS,Cairo,3.811036
14,INDIANA,Elkhart,1.473839
15,IOWA,Keokuk,1.012184
16,KANSAS,Wichita,0.984803
17,KENTUCKY,West Buechel,0.943396
18,LOUISIANA,Monroe,2.601453
19,MAINE,Mexico,0.501157
20,MARYLAND,Baltimore,1.535931
21,MASSACHUSETTS,Aquinnah,1.533742
22,MICHIGAN,Benton Harbor,2.257291
23,MINNESOTA,Hilltop,1.221167
24,MISSISSIPPI,Holly Springs,1.457340
25,MISSOURI,Kinloch,7.023411
26,MONTANA,Ronan City,1.132853
27,NEBRASKA,Sidney,0.603448
28,NEVADA,Las Vegas Metropolitan Police Department,0.920728
29,NEW HAMPSHIRE,Lincoln,0.720721
30,NEW JERSEY,Teterboro,5.633803
31,NEW MEXICO,Cuba,3.150685
32,NEW YORK,Newburgh,1.466681
33,NORTH CAROLINA,Lumberton,1.664674
34,NORTH DAKOTA,Watford City,0.553964
35,OHIO,Toledo,1.128949
36,OKLAHOMA,Ardmore,1.467637
37,OREGON,Hines,0.673401
38,PENNSYLVANIA,Darby,2.645602
39,RHODE ISLAND,Central Falls,0.776197
40,SOUTH CAROLINA,Estill,2.225519
41,SOUTH DAKOTA,Martin,1.128881
42,TENNESSEE,Covington,2.231350
43,TEXAS,Robstown,2.136387
44,UTAH,Brian Head,1.162791
45,VERMONT,St. Albans,0.496568
46,VIRGINIA,Petersburg,0.808650
47,WASHINGTON,Fife,0.964530
48,WEST VIRGINIA,Beckley,1.365467
49,WISCONSIN,Milwaukee,1.596103
50,WYOMING,Evansville,0.934903

In [5]:
#Sort out the lowest crime rate for each state
#variable to hold lowest violent crime for each state
violent_crime=[]

#variable to track lowest violent crime for each state
violent_crime_track=100

#variable to hold starting state for the loop
current_state='ALABAMA'

#variable to append city for lowest crime rate
city=[]

#variable to append city for lowest crime rate
state=[]

#Loop through each row in dataframe 
for index,row in clean_crime_data_df.iterrows():
    if row['State'] == current_state:
        if row["Violent Crime Rate"]< violent_crime_track:
            lowest = row["Violent Crime Rate"] 
            cur_city = row["City"]
            cur_state = row["State"]
            violent_crime_track = lowest
               
    else:
        violent_crime.append(lowest)
        lowest = row["Violent Crime Rate"]
        violent_crime_track = lowest
        current_state=row['State']
        city.append(cur_city)
        state.append(cur_state)
        cur_city = row["City"]
        cur_state = row["State"]
        
#append the data for the last state
violent_crime.append(lowest)
city.append(cur_city)
state.append(cur_state)

#Place newly created lists into dictionary and convert to DataFrame
lowest_new_dict = {'State':state,'City':city,'Violent Crime Rate':violent_crime}
lowest_new_df = pd.DataFrame(lowest_new_dict)
lowest_new_df.to_csv("../Analysis/lowest_crime.csv", index=False)

                   State                   City  Violent Crime Rate
0                ALABAMA                   Argo            0.023730
1                 ALASKA               Wrangell            0.042535
2                ARIZONA                Buckeye            0.045362
3               ARKANSAS             Greenbrier            0.018730
4             CALIFORNIA           Hillsborough            0.008651
5               COLORADO              Frederick            0.008648
6            CONNECTICUT                 Wilton            0.005305
7               DELAWARE             Ocean View            0.049456
8   DISTRICT OF COLUMBIA             Washington            1.202568
9                FLORIDA               Parkland            0.023938
10               GEORGIA            Summerville            0.022800
11                HAWAII               Honolulu            0.243869
12                 IDAHO                 Weiser            0.018793
13              ILLINOIS          Buffalo Grove            0.004789
14               INDIANA                   Dyer            0.012415
15                  IOWA                  Pella            0.009674
16                KANSAS                Fairway            0.025063
17              KENTUCKY            Fort Thomas            0.018340
18             LOUISIANA                   Jena            0.029560
19                 MAINE               Rockland            0.013885
20              MARYLAND             Manchester            0.020730
21         MASSACHUSETTS                Hanover            0.006905
22              MICHIGAN          Beverly Hills            0.009530
23             MINNESOTA              Shoreview            0.007554
24           MISSISSIPPI                 Fulton            0.024697
25              MISSOURI          Carl Junction            0.025944
26               MONTANA               Colstrip            0.042753
27              NEBRASKA                 Wilber            0.053648
28                NEVADA              Yerington            0.066094
29         NEW HAMPSHIRE                Fremont            0.021887
30            NEW JERSEY         Clark Township            0.006408
31            NEW MEXICO               Moriarty            0.055556
32              NEW YORK                    Rye            0.006224
33        NORTH CAROLINA                Valdese            0.022477
34          NORTH DAKOTA               New Town            0.039510
35                  OHIO        Poland Township            0.008256
36              OKLAHOMA             Lone Grove            0.019055
37                OREGON                 Bandon            0.033003
38          PENNSYLVANIA  Upper Saucon Township            0.006194
39          RHODE ISLAND           Narragansett            0.012775
40        SOUTH CAROLINA               Tega Cay            0.010525
41          SOUTH DAKOTA                    Tea            0.084782
42             TENNESSEE              Oak Ridge            0.006827
43                 TEXAS        University Park            0.012132
44                  UTAH       Santaquin/Genola            0.017015
45               VERMONT               Richmond            0.024155
46              VIRGINIA            Bridgewater            0.033173
47            WASHINGTON                  Selah            0.013324
48         WEST VIRGINIA           Charles Town            0.034388
49             WISCONSIN               Onalaska            0.005397
50               WYOMING                Worland            0.018744