In [17]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets 
import pandas as pd
import time
import requests
from census import Census
pd.set_option('display.max_rows', 30000)
# Census API Key
#from config import census_key
#c = Census(census_key, year=2015)
import warnings
warnings.filterwarnings('ignore')

## Lowest Crime Vs Education

In [61]:
#lowest crime file
lowest_crime = "lowest_crime.csv"
lowest_crime_df = pd.read_csv(lowest_crime)
lowest_crime_df['State'] = lowest_crime_df['State'].str.title()
lowest_crime_df["State"] = lowest_crime_df['State'].replace("District Of Columbia","District of Columbia")
lowest_crime_df["City"] = lowest_crime_df['City'].replace("Santaquin/Genola","Santaquin")
#education file
education ="education.csv"
education_df=pd.read_csv(education)
education_df["City"] = education_df['City'].replace("Wrangell city and borough","Wrangell")
#merge the two files
merge_df=pd.merge(left=lowest_crime_df, right=education_df, on=['State','City'], how='left')
merge_df=merge_df.dropna().reset_index(drop=True)
merge_df['% None']=''
merge_df['% High School']=''
merge_df['% Associates']=''
merge_df['% Bachelors']=''
merge_df['% Graduate']=''
p_none=[]
p_HS=[]
p_AS=[]
p_BA=[]
p_GR=[]
#Percentage of each category
for index,row in merge_df.iterrows():
    pNone = (row['None']/row['Total'])*100
    p_none.append(round(pNone,2))
    pHS = (row['High School']/row['Total'])*100
    p_HS.append(round(pHS,2))
    pAS = (row['Associates']/row['Total'])*100
    p_AS.append(round(pAS,2))
    pBA = (row['Bachelors']/row['Total'])*100
    p_BA.append(round(pBA,2))
    pGR = (row['Graduate']/row['Total'])*100
    p_GR.append(round(pGR,2))
#Insert percent into dataframe
merge_df['% None']=p_none
merge_df['% High School']=p_HS
merge_df['% Associates']=p_AS
merge_df['% Bachelors']=p_BA
merge_df['% Graduate']=p_GR

merge_df=merge_df.loc[:,['State','City','% None','% High School','% Associates','% Bachelors','% Graduate']]
merge_df

,State,City,% None,% High School,% Associates,% Bachelors,% Graduate
0,Alabama,Argo,12.48,32.48,36.51,7.93,10.60
1,Alaska,Wrangell,9.85,35.59,34.71,14.41,5.45
2,Arizona,Buckeye,15.68,28.00,40.17,12.37,3.79
3,Arkansas,Greenbrier,10.56,31.94,39.99,12.70,4.82
4,California,Hillsborough,2.43,5.53,13.44,35.72,42.88
5,Colorado,Frederick,4.33,21.85,36.69,28.78,8.35
6,Delaware,Ocean View,2.98,37.41,21.84,24.22,13.54
7,District of Columbia,Washington,10.67,18.00,16.76,23.32,31.25
8,Florida,Parkland,3.13,13.27,23.94,36.48,23.17
9,Georgia,Summerville,34.94,36.79,20.00,6.48,1.79
10,Idaho,Weiser,22.53,39.29,28.63,6.29,3.26
11,Illinois,Buffalo Grove,2.51,11.62,21.55,36.80,27.51
12,Indiana,Dyer,7.07,32.19,31.47,19.55,9.72
13,Iowa,Pella,9.25,28.54,28.73,23.66,9.82
14,Kansas,Fairway,0.35,7.56,19.33,41.90,30.86
15,Kentucky,Fort Thomas,5.22,19.40,29.33,27.95,18.10
16,Louisiana,Jena,20.48,43.30,22.07,11.19,2.96
17,Maine,Rockland,7.21,39.21,21.46,21.10,11.03
18,Maryland,Manchester,8.26,33.05,33.51,14.70,10.48
19,Michigan,Beverly Hills,0.82,8.39,20.48,36.36,33.95
20,Minnesota,Shoreview,3.70,16.86,24.57,34.19,20.68
21,Mississippi,Fulton,14.44,29.38,32.75,13.70,9.73
22,Missouri,Carl Junction,5.41,29.99,28.02,24.54,12.05
23,Montana,Colstrip,2.09,27.62,41.26,22.01,7.02
24,Nebraska,Wilber,12.59,33.60,40.78,9.66,3.37
25,Nevada,Yerington,27.07,31.93,32.39,5.55,3.05
26,New Mexico,Moriarty,17.99,37.08,31.70,11.58,1.65
27,New York,Rye,3.01,9.50,13.51,36.34,37.64
28,North Carolina,Valdese,17.27,26.99,30.65,13.58,11.50
29,North Dakota,New Town,9.05,29.14,40.41,16.56,4.83
30,Oklahoma,Lone Grove,12.79,43.89,29.08,10.45,3.79
31,Oregon,Bandon,10.60,20.36,45.65,14.40,8.98
32,South Carolina,Tega Cay,1.90,12.42,25.36,42.72,17.60
33,South Dakota,Tea,3.77,22.40,36.53,30.43,6.86
34,Tennessee,Oak Ridge,8.13,23.40,28.74,20.15,19.58
35,Texas,University Park,0.43,3.53,12.52,45.89,37.63
36,Utah,Santaquin,9.89,27.11,39.07,17.50,6.43
37,Vermont,Richmond,8.76,41.01,5.53,35.25,9.45
38,Virginia,Bridgewater,8.91,33.59,20.97,21.17,15.37
39,Washington,Selah,12.03,21.93,35.54,18.92,11.57
40,West Virginia,Charles Town,16.16,28.73,26.41,18.69,10.01
41,Wisconsin,Onalaska,4.38,24.00,36.60,21.51,13.52
42,Wyoming,Worland,14.38,30.37,36.88,12.68,5.70