In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets 
import pandas as pd
import time
import requests
from census import Census
#pd.set_option('display.max_rows', 30000)
# Census API Key
#from config import census_key
#c = Census(census_key, year=2015)
import warnings
warnings.filterwarnings('ignore')

Lowest Crime Vs Education

In [19]:
lowest_crime = "lowest_crime.csv"
lowest_crime_df = pd.read_csv(lowest_crime)
#lowest_crime_df=lowest_crime_df[['City','Violent Crime Rate']]
education ="education.csv"
education_df=pd.read_csv(education)
#merge_df=pd.merge(left=lowest_crime_df, right=education_df, on='City', how='left')
#merge_df

In [18]:
education_df.shape

(29574, 8)

In [23]:
merge_df=pd.merge(left=lowest_crime_df, right=education_df, on=['City'], how='left')
merge_df

,State_x,City,Violent Crime Rate,State_y,Population,None,High School,Associates,Bachelors,Graduate
0,ALABAMA,Argo,0.023730,Alabama,4146.0,365.0,950.0,1068.0,232.0,310.0
1,ALASKA,Wrangell,0.042535,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARIZONA,Buckeye,0.045362,Arizona,57165.0,5549.0,9911.0,14220.0,4378.0,1342.0
3,ARIZONA,Buckeye,0.045362,Iowa,88.0,10.0,39.0,7.0,3.0,0.0
4,ARKANSAS,Greenbrier,0.018730,Arkansas,5090.0,320.0,968.0,1212.0,385.0,146.0
...,...,...,...,...,...,...,...,...,...,...
173,WEST VIRGINIA,Charles Town,0.034388,West Virginia,5587.0,607.0,1079.0,992.0,702.0,376.0
174,WISCONSIN,Onalaska,0.005397,Texas,1719.0,309.0,435.0,350.0,104.0,27.0
175,WISCONSIN,Onalaska,0.005397,Washington,977.0,71.0,165.0,313.0,12.0,66.0
176,WISCONSIN,Onalaska,0.005397,Wisconsin,18255.0,548.0,3001.0,4576.0,2689.0,1690.0
177,WYOMING,Worland,0.018744,Wyoming,5416.0,525.0,1109.0,1347.0,463.0,208.0